<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	    <link rel="stylesheet" type="text/css"th:href="@{/css/artisans.css}" />

<head>
    <meta charset="UTF-8">
    <title>Liste des Artisans</title>
</head>
<body>
    <h2>Liste des Artisans</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Métier</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="artisan : ${artisans}">
                <td th:text="${artisan.idArtisan}"></td>
                <td th:text="${artisan.nomArtisan}"></td>       
                <td th:text="${artisan.atelier.nomAtelier}"></td>
            </tr>
        </tbody>
    </table>
    <div class="center">
    <a href="/" class="back-button">Retour au Menu Principal</a>
    </div>
    </body>
</html>

