<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/cancelReservation.css}" />
    <title>Annuler une réservation</title>
</head>
<body>
    <h1>Choisissez votre méthode</h1>
    <ul>
        <li class="back-button">
            <label for="idInput">Annuler une réservation selon l'ID</label>
            <form id="deleteForm" th:action="@{/reservations/deleteById}" method="post">
                <input type="text" id="idInput" name="ID" th:value="${id}" placeholder="Entrez l'ID à annuler">
                <button type="submit">Supprimer</button>
            </form>
        </li>

        <li class="back-button">
            <label for="emailInput">Annuler parmi la liste des réservations d'un participant</label>
            <form id="searchForm" th:action="@{/reservations/participant}" method="get">
                <input type="text" id="emailInput" name="email" th:value="${email}" placeholder="Entrez l'e-mail du participant">
                <button type="submit">Chercher</button>
            </form>
        </li>
    </ul>

    <!-- Message de confirmation (configuré dans le controleur) -->
    <div th:if="${confirmationMessage}" class="confirmation-message">
        <p th:text="${confirmationMessage}"></p>
    </div>

    <div class="center">
        <a href="/" class="back-button-principal">Retour au Menu Principal</a>
    </div>
</body>
</html>
