<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Conditions d'utilisation</title>
    <link rel="stylesheet" type="text/css"th:href="@{/css/conditions.css}" />
</head>
<body>

<div class="container">
    <div class="image-container">
        <img th:src="@{calendrier.png}" alt="Calendrier">
    </div>
    <div>


<ul>
			<h1>Les conditions de réservations et de participations sont les suivantes :</h1>

	    <div class="text-container">

    <li>Chaque atelier est dispensé par un artisan unique. </li>
    <li>Les ateliers sont dispensés en même temps.</li>
    <li>Les ateliers sont limités à dix personnes maximum par créneau.</li>
     </div>
     	    <div class="text-container">
	<li>Chaque <span class="red">artisan</span> est responsable d'un seul <span style="text-decoration: underline">atelier</span> .</li>
    <li><span class="red">Bryan</span> est responsable de la <span style="text-decoration: underline">broderie</span> . <br>
    <span class="red">Cunégonde</span> est responsable de la <span style="text-decoration: underline">cuisine</span> . <br>
    <span class="red">Potrick</span> est responsable de la <span style="text-decoration: underline">poterie</span> .</li>
    	</div>
    	 <div class="text-container">
    <li>Tous les ateliers sont disponibles 3 fois par jour, du lundi au vendredi, aux créneaux suivants :
		
        <ul>
            <li>9h - 12h</li>
            <li>12h15 - 15h15</li>
            <li>15h30 - 18h30</li>
        </ul>
        Aucun atelier le samedi et le dimanche.
    </li>
    </div>
      <div class="text-container">
    <li>Les espaces de 15 minutes entre chaque créneau sont réservés au nettoyage de la salle et aux entrées et sorties des élèves.</li>
   
    <li>Un participant peut <a href="/login">s'inscrire à un atelier</a> par créneau.</li>
    <li>Il est possible, pour un participant, d'annuler à tout moment un créneau qu'il a réservé.</li>
    <li>Les réservations sont affichables par Atelier ou par participant.</li>
    <li>Une fois qu'un participant a entré son email, il peut <a href="/cancel">annuler une réservation</a>.</li>
    </div>
    </ul>
 </div>
<div class="center">
    <a href="/" class="back-button">Retour au Menu Principal</a>
    </div>
</body>
</html>
